.icon{
    margin: 10px;
}

#hacemos{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.text{
    margin: 20px;
}

#RRSS{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    background-image: url(../../../assets/img/tuvsud-contact-us.jpg);
    color: white;
    text-align: center;
}