<div id="container">

  <div id="text">
  <h1> ¿Qué es la tecnología blockchain? </h1>
  <p>
    Pues un gigantesco libro de cuentas en los que los registros 
    (los bloques) están enlazados y cifrados para proteger la seguridad 
    y privacidad de las transacciones. Es, en otras palabras, una base 
    de datos distribuida y segura (gracias al cifrado) que se puede aplicar
     a todo tipo de transacciones que no tienen por qué ser necesariamente económicas.

    Esa cadena de bloques tiene un requisito importante: debe haber varios usuarios 
    (nodos) que se encarguen de verificar esas transacciones para validarlas y 
    que así el bloque correspondiente a esa transacción (en cada bloque hay un 
    gran número de transacciones que eso sí, es variable) se registre en ese
    gigantesco libro de cuentas. </p>  
    </div>

</div>
